.josefin{
    font-family: 'Josefin Sans', sans-serif;
}

@font-face {
    font-family: 'Didot Regular';
    src: url("fonts/Didot Regular.ttf");
}

.font-blue{
    color: #2196f3;
}

.didot{
    font-family: 'Didot Regular'
}

/* Material icons */
.mdi::before {
    font-size: 24px;
    line-height: 14px;
}
.btn .mdi::before {
    position: relative;
    top: 4px;
}
.btn-xs .mdi::before {
    font-size: 18px;
    top: 3px;
}
.btn-sm .mdi::before {
    font-size: 18px;
    top: 3px;
}
.dropdown-menu .mdi {
    width: 18px;
}
.dropdown-menu .mdi::before {
    position: relative;
    top: 4px;
    left: -8px;
}
.nav .mdi::before {
    position: relative;
    top: 4px;
}
.navbar .navbar-toggle .mdi::before {
    position: relative;
    top: 4px;
    color: #FFF;
}
.breadcrumb .mdi::before {
    position: relative;
    top: 4px;
}
.breadcrumb a:hover {
    text-decoration: none;
}
.breadcrumb a:hover span {
    text-decoration: underline;
}
.alert .mdi::before {
    position: relative;
    top: 4px;
    margin-right: 2px;
}
.input-group-addon .mdi::before {
    position: relative;
    top: 3px;
}
.navbar-brand .mdi::before {
    position: relative;
    top: 2px;
    margin-right: 2px;
}
.list-group-item .mdi::before {
    position: relative;
    top: 3px;
    left: -3px
}
/* */

.logout-btn{
    position: absolute;
    top: 0;
    right: 0;
    padding: 1rem;
}

.home-title{
    height: 10em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-title > a > h1{
    font-size: 2.5em;
    font-weight: bold;
    letter-spacing: -1px;
    color: white;
    text-shadow: -1px 0 #2196f3, 1px 0 #2196f3, 0 1px #2196f3, 0 -1px #2196f3;
}

@media screen and (min-width: 768px){
    .home-title{
        height: 15em;
    }
    .home-title > a > h1{
        font-size: 4.5em;
    }
}

@media screen and (min-width: 992px){
    .home-title > a >  `h1{
        font-size: 6em;
    }
}

.home-menu > a{
    margin: 0;
    background: white;
    font-family: 'Josefin Sans';
    font-size: 1.5em;
    border: 1px solid lightgray;
    transform: scale(0.9);
}

.home-menu > a:hover{
    background: #2196f3;
    color: white;
}

a{
    transition-duration: 0.3s;
}

a:hover{
    text-decoration: none;
    color: #2196f3;
}

.sidenav{
    position: fixed;
    height: 100%;
    transition-duration: 0.3s;
}

.sidenav > div{
    margin: 0.5rem;
    border-right: 1px solid lightgray;
    height: calc(100% - 1rem);
}

.btn{
    text-transform: uppercase;
}

.btn-primary{
    background: #2196f3;
    padding-left: 3rem;
    padding-right: 3rem;
    border: none;
}

.login-panel{
    margin-top: 5rem;
}

.bordered-text-blue{
    text-shadow: -1px 0 #2196f3, 1px 0 #2196f3, 0 1px #2196f3, 0 -1px #2196f3;
}

.sidenav .menu-holder{
    padding: 1rem;
    padding-right: 3rem;
    margin-top: -3rem;
}

.sidenav .menu-holder > a{
    width: 80%;
    display: block;
    margin-left: 20%;
    padding: 0.5rem;
    border-radius: 0.3rem;
    box-sizing: padding-box;
    border: 1px solid transparent;
}

.sidenav .menu-holder > a:hover{
    border-color: #2196f3;
}

.mdi{
    vertical-align: -2px;
}

.rightnav{
    height: 100%;
    position: fixed;
    right: 0;
}

.rightnav > div{
    margin: 0.5rem;
    height: calc(100% - 1rem);
    border-left: 1px solid lightgray;
}

.dp{
    border-radius: 50%;
    width: 60%;
    margin-left: 20%;
}

.notification{
    padding: 0.5rem;
}

.main{
    padding: 2rem 0;
    position: absolute;
    padding-left: 1rem;
}

.main *{
    position: relative;
}

.dp-name{
    width: 25%;
    margin-top: -13%;
    margin-left: 50px;
}

.dp-name > span{
    position: absolute;
    padding: 1rem;
    height: 100px;
    margin-top: -13%;
    margin-left: 25%;
}

.edit-profile-btn:hover{
    cursor: pointer;
}

.profile-edit-box{
    padding: 1rem;
}

.cover{
    height: 0;
    padding-top: 33.33%;
    overflow-y: hidden;
}

.cover > img{
    margin-top: -33.33%;
}
.cover-bg{
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0,0,0, 0.5);
    opacity: 0;
    height: 0px;
    padding-top: 33.33%;
    width: 100%;
    margin-top: 0.5rem;
    transition-duration: 0.3s;
}

.cover-bg > div{
    position: relative;
    height: 100%;
    margin-top: -15%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba(255, 255, 255, 0.5);
    font-family: Arial;
}

.cover-bg:hover{
    opacity: 1;
    cursor: pointer;
}

.user-panel{
    padding: 1rem;
    position: relative;
    margin-top: 1rem;

    -webkit-box-shadow: 1px 1px 2px lightgray;
    -moz-box-shadow: 1px 1px 2px lightgray;
    box-shadow: 1px 1px 2px lightgray;
}

.action:hover{
    cursor: pointer;
}

.search-result{
    padding: 0.5rem;
    padding-left: 2rem;
    display: block;
}

.post-text{
    resize: none;
    width: 100%;
    border: none;
}

.post-footer{
    background: white;
    padding: 0 1rem;
    display: flex;
    align-items: center;
    height: 4rem;
}

.post-action{
    border: 1px solid transparent;
    padding: 1rem;
    border-radius: 0.25rem;
}

.post-action:hover, .posts .actions > *{
    cursor: pointer;
}

.posts{
    position: relative;
    padding: 1rem;
    margin-top: 2rem;
    transition-duration: 0.3s;
}

.posts .author{
    padding: 0.5rem 0;
}

.posts .body{
    padding: 0.5rem 0;
}

.toastContainer{
    position: fixed;
    bottom: 5rem;
    display: flex;
    width: 100%;
    justify-content: center;
}

.toast{
    padding: 0.5rem 1.5rem;
    background: #263238;
    color: white;
    border-radius: 0.25rem;
    box-shadow: 1px 1px 2px grey, -1px 1px 2px grey;
    transform: translateY(10rem);
    max-width: 90%;
    transition-duration: 0.3s;
}

.toast.active{
    transform: translateY(0rem);
}

@media screen and (min-width: 712px){
    .toast{
        max-width: 60%;
    }
}

.lighter{
    color: #757575;
}


.comment-box{

}
.posts .main{
    height: auto;
    padding: 1rem;
    border-radius: 1rem;
    overflow: auto;
    background: whitesmoke;
}

.comment1{
    padding: 1rem;
    border-radius: 1rem;
    background: #e1f5fe;
    margin-top: 1rem;
}

.loader-container{
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 1000000000000;
    transition-duration: 0.5s;
    padding: 2rem;
}

.loader-container.no-padding{
    padding: 0;
}

.loader{
    width: 2rem;
    height: 4rem;
    background: #2196f3;
    margin-top: -2rem;
    margin-left: -2rem;
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
    transform-origin: 100% 50%;
    animation: rotate 1s infinite linear;
}

.loader-circle{
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    position: relative;
    top: 0.5rem;
    left: 0.5rem;
    background: white;
}

.loader-container.no-padding{
    transform: scale(0.2);
}

.scale{
    transform: scale(0.5);
}

.hide{
    display: none;
}

.fade{
    opacity: 0;
}

.full-flex{
    display: flex;
    justify-content: center;
    align-items: center;00000000000000000000000000000000000000000000000000000000000
}

@keyframes rotate {
    0%{
        transform: rotate(0);
    }
    100%{
        transform: rotate(360deg);
    }
}

.comments-container{
    padding: 0.5rem 0 2rem 0;
    margin-bottom: 1rem;
    height: auto;
}

.dp-container{
    padding-top: 0rem;
}

.comment-dp-container{
    padding-top: 1rem;
}

.comment-box-holder{
    position: relative;
    height: 3rem;
}

.scale-0{
    transform: scale(0.5);
    opacity: 0;
}

.comm{
    transition-duration: 0.3s;
}

.prev-comments{
    padding-top: 1rem;
    padding-bottom: 0;
}

.prev-comments > a:hover{
    cursor: pointer;
}

.op-destroy{
    opacity: 0;
}

.post-container{
    margin-bottom: 200px;
}

.posts .delete:hover{
    cursor: pointer;
}

.comm .delete-comment:hover{
    cursor: pointer;
}